.opContainer {
    
    display: flex;
    /* Enables horizontal layout */
    gap: 1rem;
    /* Adds spacing between the cards */
    justify-content: center;
    /* Aligns them to the left */
    align-items: center;
    margin: 0 auto;
  
}

.opCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex: 1;
    /* Optional: makes cards grow evenly */
    min-width: 200px;
}

#sticky ul {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: stretch;
    list-style: none;
    justify-content: space-around;
}

#sticky ul li a {
    text-decoration: none;
}

.topNav {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    height: 80px;
    
}

/* Center the logo + title group */
.topNav a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Space between logo and text */
}

#Home {
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
}

.logo {
    height: 30px; /* Adjust based on your logo size */
    width: auto; /* Maintain aspect ratio */
    display: block;
}

/* Search container - right corner */
.searchContainer {
     margin-left: auto; /* Pushes it to the right */
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: row-reverse;
}

.search-input {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

#searchButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: white;
}