:root{
       
    --bgColour: black;
    --textColour: white;
}

body {
  background-color: var(--bgColour);
  color: var(--textColour);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
.NavBar{
text-decoration: none;
}
.NavBar a {
  text-decoration: none;
}

.NavBar a:hover {
  color: red;
}
nav ul a {
    text-decoration: none; 
    color:white;
    font-family: Arial, Helvetica, sans-serif;  
}

